body {
  margin: 25px;
  background: url('../img/mosaicobg.jpg');
}    

body, td {
  font-size: 14px;
  font-family: arial, sans-serif;      
  line-height: 20px;
}

#contenedor {
  border: 1px solid #000;
  background: #fff;    
}

#encabezado {
  background: url('../img/headerbg.jpg') repeat-x;
  border-bottom: 20px solid #ffd216;
}

#logo {
  height: 82px;
  background: url('../img/headerUDB25years.jpg') right no-repeat;
}

#contenido {
  padding: 10px;
}
   
.form {
  width: 90%;
}   
    
.form .input {
  padding: 5px;
  height: 27px;
  border: 1px solid #dfdfdf;
  background: #f5f5f5;
}  

.form .input-highlight {
  border: 1px solid #73a6ff;
  background: #eff5ff;
}

.form .check1 {
  margin: 0 0 5px 0;
}

.form .check1 input,
.form .check2 input {
  float: left;
}

.error {
  margin: 15px 0 0 0;
}

.error span {
  padding: 0 0 0 20px;
  color: #cc0000;
  background: url('../img/exclamation.png') no-repeat;
}

.advertencia {
  margin: 5px 0 0 0;
}

.advertencia span {
  padding: 0 0 0 21px;
  color: #d5a13d;
  background: url('../img/error.png') no-repeat 0 -1px;
}

h1 {
  margin: 0 0 20px 0;
  padding: 15px 10px 10px 0;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 5px solid #f0f0f0;
}

#info {
  float: right;
  text-align: right;
}

#info span {
  font-size: 13px;
  padding: 0 20px 0 0;
}

#info .facultad {
  background: url('../img/house.png') no-repeat right -1px;
}

#info .usuario {
  background: url('../img/user.png') no-repeat right -1px;
}

h2 {
  margin: 0;
  padding: 0 0 5px 10px;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.logout, .regresar {
  float: right;
}

.clear {
  clear: both;
}

.ui-datepicker, .ui-datepicker td {
  font-size: 10px;
  font-family: arial, sans-serif;
}

.ui-datepicker td a,
.ui-datepicker td span {
  padding: 0;
  line-height: 18px;  
  text-align: center;
}

.reporte {
  width: 95%;
}

.reporte td {
  font-size: 13px;
}

.reporte .cabecera td {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #eee;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.reporte .h td {
  background: #fbf9ee;
}
